/* -------------------------->Shared Styles<-------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}

.description {
    color: #727272;
}

.section-title {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}

.btn-primary {
    border: none;
    border-radius: 0.5rem;
    background: #FF900E;
    color: #FFF;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;
    width: 11.25rem;
    height: 4rem;
    cursor: pointer;
}

.btn-primary:hover {
    border: 2px solid #FF900E;
    border-radius: 0.5rem;
    background: #FFF;
    color: #FF900E;
}

/* ---------------------->Header Section Styles <--------------------------------- */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 3rem 12.5rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    list-style: none;
    display: flex;
    gap: 2.8rem;
}

nav li a {
    text-decoration: none;
    color: #424242;
    padding: 0 10px;
    position: relative;
}

nav li a::after {
    content: '';
    position: absolute;
    background-color: #FF900E;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -0.6rem;
    transition: 0.3s;
}

nav li a:hover::after {
    width: 100%;
}

nav li a:hover {
    color: #131313;
}

.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 50px;
}

.banner-title {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}

.banner-description {
    margin: 40px 0;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*----------------------------->Main section Styles <----------------------------- */
main {
    margin: 3rem 12.5rem;
}

/* ---------->Team styles start <------------------- */
.team-container {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.team-img-container img {
    width: 17.5rem;
    height: 17.5rem;
    object-fit: cover;
}

.team-title {
    font-size: 2.5rem;
    font-weight: 700;
    color: #131313;
}

.team-title .quick {
    color: #727272;
    font-weight: 500;
}

.team-title .features {
    color: #FF900E;
    font-weight: 700;
}

.team-description {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}

/* ------------------------Features Section styles start----------------- */
.features {
    display: flex;
    margin: 3rem 0;
}

.features-content {
    width: 50%;
}

.features-img {
    width: 50%;
}

.features-img img {
    width: 100%;
    object-fit: cover;
    margin-left: 2rem;
}

.features-content .section-title {
    border-left: 5px solid #FF900E;
    padding-left: 1.25rem;
    margin-bottom: 1.5rem;
}

.features-card {
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    margin-top: 1.5rem;
    padding: 1.8rem;
}

.features-card h6 {
    color: #424242;
    font-size: 1.25rem;
    margin-bottom: 0.8rem;
}

.ten-year {
    color: white;
    border-radius: 8px;
    background: #FF900E;
    height: 9rem;
    width: 16rem;
    text-align: center;
    padding: 2.2rem;
    position: relative;
    bottom: 6rem;
}

.ten-year h3 {
    color: #FFF;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.ten-year p {
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 500;
}

/* ------------------------Features section end------------------- */
/* ---------------->Fact section styles <--------------------- */
.fact {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.fact-description {
    margin-top: 1.5rem;
    margin-bottom: 5rem;
}

.fact-info-container {
    display: flex;
    justify-content: space-around;
}

.info-box {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 1.5rem;
}

.box-title {
    color: #424242;
    font-size: 2.5rem;
    font-weight: 600;
    margin-top: .4rem;
    margin-bottom: .4rem;
}

.box-description {
    color: #727272;
    font-size: 1.1rem;
    font-weight: 600;
}

/* ---------Sponsor section style start------------- */
.sponsor {
    text-align: center;
    margin-bottom: 3rem;
}

.sponsor-description {
    margin-top: 1.5rem;
}

.sponsor-img-container {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-top: 3rem;
}

.sponsor-img-container img {
    width: 10.5rem;
    height: 3rem;
}

/* ------------Footer section style start-------------- */
footer {
    margin: 5rem 15rem;
    border-radius: 8px;
    background: #FFF4E7;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot-description {
    color: #424242;
    font-size: 1.25rem;
    padding: 0 .5rem;
}





/* --------------------------> Responsive Styles Start <------------------------- */

/* ----------- Mobile Devices----------- */
@media screen and (max-width:576px) {
    header {
        padding: 20px;
    }

    nav,
    .team-container,
    .features,
    .fact-info-container,
    .sponsor-img-container {
        flex-direction: column;
        gap: 2rem;
    }

    nav>ul {
        gap: 1rem;
    }

    main {
        margin: 0 1.25rem;
    }

    .team-img-container {
        grid-template-columns: 1fr;
    }
    .features-content{
        width: 100%;
    }
    .features-img{
        width: 100%;
    }
    
.features-img img{
    margin-left: 0;
}

    footer {
        margin: 1rem 1.25rem;
    }



}

/* -------------- Tablet or Medium Devices-------------- */
@media screen and (min-width:577px) and (max-width:992px) {
    header {
        padding: 50px;
    }

    nav,
    .team-container,
    .features,
    .sponsor-img-container {
        flex-direction: column;
        gap: 2rem;
    }

    main {
        margin: 0 3rem;
    }

    .fact-info-container {
        gap: 0.5rem;
    }
    .features-content{
        width: 100%;
    }
    .features-img{
        width: 100%;
    }

    footer {
        margin: 1rem 3rem;
    }
}